*{
    font-family: "Segoe UI";
    font-size: 10;
 }

#addDest
{
    border-image: url(:/icons/icons/add.png);
}


#removeDest
{
    border-image: url(:/icons/icons/remove.png);
}

#removeDest:hover 
{ 
    border-image: url(:/icons/icons/Remove_button_highlighted_.png);
}

#removeDest:pressed
{
    border-image: url(:/icons/icons/remove_pressed.png);	
}


#browseBtn
{
    border-image: url(:/icons/icons/browse_buttonup.png);
}

#browseBtn:hover
{
    border-image: url(:/icons/icons/browse_button_highlight.png);
}

#browseBtn:pressed
{
    border-image: url(:/icons/icons/Browse_button_down.png);
}



#checkDeletedBtn
{
    border-image: url(:/icons/icons/Deleted_up.png);
}

#checkDeletedBtn:hover
{
    
    border-image: url(:/icons/icons/Deleted_HIghlight.png);
}

#checkDeletedBtn:pressed
{
    border-image: url(:/icons/icons/Deleted_down.png);
}

#unmoveBtn
{
    border-image: url(:/icons/icons/Undo_up.png);
}

#unmoveBtn:hover
{	
    border-image: url(:/icons/icons/Undo_Highlight.png);
}


#unmoveBtn:pressed
{
    border-image: url(:/icons/icons/Undo_Down.png);
}